@import "../../theme/_variables.scss";

.search-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 11px;
  box-sizing: border-box;
  gap: 10px;
  height: 40px;
  background: $background-light-color;
  border: 1px solid $secondary-color;
  border-radius: 6px;
  position: relative;

  .search-icon, .clear-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
  }

  input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    background: transparent;
    box-shadow: none;
    position: relative;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $white-color;
    padding-left: 4px;
    &::placeholder {
      color: $primary-color;
    }
  }

  .dropdown {
    z-index: 200;
    position: absolute;
    background: $background-button-color;
    box-sizing: border-box;
    box-shadow: $default-box-shadow;
    border-radius: 6px;
    top: 42px;
    left: 0;
    width: 100%;
    padding-block: 6px;
  }

  .dropdown-item {
    padding: 10px;
    cursor: pointer;
    color: $white-color;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
